<head>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>

<style>

h1 {
	color: rgba(204, 0, 0, .8);
	font-family: 'Lobster Two', cursive;
}

p {
	font-family: 'Cabin', sans-serif;
}

</style>

<h2>Create New Board!</h2>
<%=render 'form'%>